 * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
       display: flex;
    }

    .search-button {
       margin: 1.95em 0em 0em -3.7em;
       padding: 1em;
       padding-left: -35px;
       width: 40px;
       height: 40px;
       border-radius: 70px;
       position: absolute;
       background-color: #ea4c89;
       border: none;
    }

    .search-logo {
        width: 22px;
        height: 22px;
        margin-top: -3px;
        margin-left: -3.3px;
        border-color: black;
        
    }

    .search-input {
        padding: 15px 25px 15px 23px;
        border-radius: 30px;
        width: 520px;
        height: 55px;
        margin: 19px 0px;
        background-color: rgba(230, 233, 227, 0.61);
        border: solid transparent;
        font-family: 'mona Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

     .search-input:focus {
        outline: none;
     }

    .search-input:hover {
        border: solid rgba(212, 153, 172, 0.164);
        background-color: transparent;
        
     }

     .search-input::placeholder {
        font-size: 14px;
        color: rgb(75, 73, 73);
        margin-left: 290px;
        font-family: 'mona Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        
     }

    .navbar ul {
        margin-top: 1em;
        display: flex;
        align-items: center;
        padding: 20px;
        
    }

    .navbar li {
        list-style: none;
    }

    .navbar a {
       text-decoration: none;
    }

    .header-logo {
        margin: 27px 10px 0px ;
        padding: 0px;
        height: min-content;
    }

    .hambuger {
        margin-top: 2.7em;
        margin-left: 3em;
        height: 1.8em;
        border: none;
        background-color: transparent;
    }

    .input-wrapper {
        position: relative;

    }

    .input-wrapper a {
        text-decoration: none;
        position: absolute;
    }

    .down-arrow {
        width: 11px;
        height: 12px;
        vertical-align: middle;
        margin-top: 3px;
        margin-right: 30px;
        margin-left: 0.5em;
        position: absolute;
    }

    .shots-link{
        margin-top: 3em;
        margin-left: -9em;
        font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: rgba(51, 47, 47, 0.945);
        font-size: 13px;
        text-decoration: none;
        cursor: pointer;
    }

    